<div class="card card-cascade narrower">
  <div class="view view-cascade gradient-card-header deep-purple lighten-2 narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">
    <a href="" class="white-text mx-3">
        在线好友
  </a>
    <div>
      <!-- <a href="/chats/#timeline" type="button" class="btn btn-success py-2 px-4">刷新</a> -->
      <%= link_to chats_path, type: "button", class: 'btn btn-success py-2 px-4' do %>
        刷新
      <% end %>
    </div>
  </div>

  <div class="px-3 pb-5">
    <ul class="list-group list-group-flush custom-scrollbar scrollbar-near-moon"  style="max-height: 500px; overflow-y: auto">
      <ul class="list-group">
        <% if @onlinefriends.count == 0 %>
          <p class="p-4 card-text text-center">当前无在线好友</p>
        <% end %>
        <% @onlinefriends.each do |user| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-4">

              <a class="text-white btn-floating" href="/articles/<%= user.id %>">
                <%= image_tag "user-icon.png", class: "img-sm rounded float-left" %>
              </a>
              <%= user.name %>
            </div>
            <div class="col-md-8 text-right pt-2">
              <%= form_for Chat.new, url: chats_path, method: :post do |f| %>
              <%= hidden_field_tag :users, [user.id] %>
              <%= button_tag(:class => "btn btn-sm blue") do %>
              聊天
              <% end %>
              <%= link_to friendship_path(user), method: :delete, class: "p-0"  do %>
              <button type="button" class="btn btn-sm red">删除</button>
              <% end %>
              <% end %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </ul>
  </div>

</div>