<div class="card">
  <!-- <h5 class="card-header h5"></h5> -->
  <div class="card-body p-5">
    <h5 class="card-title">你好! <%= current_user[:name] %></h5>
    <div class="row">
    	<div class="col-md-6">
		    <p class="card-text">
		    	<%= image_tag "user-icon.png", class: "rounded-circle img-fluid", alt: "avatar mx-auto white" %>
		    </p>
    	</div>
    	<div class="col-md-6 p-4">
		    <p class="card-text">Username: <%= current_user[:name] %></p>
		    <p class="card-text">Email: <%= current_user[:email] %></p>
		    <p class="card-text">Gender: <%= current_user[:sex] %></p>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-12">
            <p class="card-text">status: <%= current_user[:status] %></p>
            <p class="card-text">phone: <%= current_user[:phonenumber] %></p>
    		<p class="card-text">Essay: </p>
            <p class="card-text"><%= current_user.essay %></p>
                
    	</div>
    </div>
    <div class="row pr-4 pt-4">
    	<div class="col-md-12 text-right">

        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#changeinfo">change info</button>
        <%= render 'users/changeinfo' %>
    		<!-- <a href="" class="btn btn-primary">change info</a> -->
    	</div>
    </div>
  </div>
</div>